 navigation-menu
 *{
margin: 0px; /*remove margin and padding to remove basic styling  so that it's styled as I want it to be*/
padding: 0px;
box-sizing: border-box;
 }

nav {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    min-height: 8vh;
    background-color: #0B132B;
    font-family: 'Poppins', sans-serif;
}

.logo {
color: cornsilk;
text-transform: uppercase;
letter-spacing: 5px;
font-size: 20px ;
}

.nav-links {
    display: flex; /*so that links are lined up side by side*/
    width: 40%;
    justify-content: space-around;
}

.nav-links a{
    color: cornsilk;
    text-decoration: none; /*removes automatic underlining*/
    letter-spacing: 1px;
    font-weight: bold;
}

.nav-links li{
    list-style: none; /*remove bullet points*/
}


  
  body {
    max-width: 30rem;
    margin: 0 auto;
    padding: 2rem;
  }
  
 
  input:not([type="checkbox"]):not([type="radio"]),
  button,
  textarea {
    display: block;
    font: inherit;
    color: inherit;
  }
 main
